<table>
  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</table>
<table id="contactsTable">
  <thead>
  <tr>
    <th id="contactName">Name</th>
    <th id="contactId">Contact Id</th>
    <th id="currentSponsorClientId">Current Sponsor Client Id</th>
  </tr>
  </thead>
  <tr *ngFor="let contact of contacts">
    <td>
        <span tooltip="Get Contact Info" class="spanLink">
            {{contact.name}}
        </span>
    </td>
    <td>
      {{contact.contactId}}
    </td>
    <td>{{contact.currentSponsorClientId}}</td>
  </tr>
  </tbody>
</table>
