<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<p-dataTable #dt [value]="domains" exportFilename="domains" sortMode="multiple" id="domainsTable">
  <p-header>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </p-header>
  <p-column id="domainName" field="domainName" header="Domain" [sortable]="true"></p-column>
  <p-column id="tld" field="tld" header="TLD" [sortable]="true"></p-column>
  <p-column id="status" field="status" header="Status" [sortable]="true"></p-column>
  <p-column id="systemTags" field="systemTags" header="System Tags" [sortable]="true"></p-column>
  <p-column id="price" field="price" header="Price" [sortable]="true">
    <template let-col let-domain="rowData" pTemplate="body">
      <span class="text-right right">{{domain[col.field].value  | currency:'USD':true:'1.2-2'}}</span>
    </template>
  </p-column>
  <p-column id="category" field="priceCategory" header="Category" [sortable]="true"></p-column>
  <p-column id="ianaNumber" field="ianaNumber" header="Iana ID" [sortable]="true"></p-column>
  <p-column id="registrarName" field="registrar" header="Registrar" [sortable]="true"></p-column>
</p-dataTable>
