<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<p-dataTable #dt [value]="dpmls" exportFilename="dpmls" sortMode="multiple" id="dpmlTable">
  <p-header>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </p-header>
  <p-column id="Label" field="label" header="Label" [sortable]="true"></p-column>
</p-dataTable>
<table>
  <tr *ngFor="let dpml of dpmls">
    <app-domain *ngIf="dpml.domainNames.length > 0" [domains]="dpml.domainNames"></app-domain>
    <app-premium-name *ngIf="dpml.premiumNames.length > 0" [premiumNames]="dpml.premiumNames"></app-premium-name>
    <app-reserved-name *ngIf="dpml.reservedNames.length > 0" [reservedNames]="dpml.reservedNames"></app-reserved-name>
  </tr>
  </tbody>
</table>

