<p-dialog [(visible)]="showHostDialog" modal="modal" [responsive]="true" [width]="600" showEffect="fade" [closable]="false" [(header)]="modalHeader">
  <form [formGroup]="hostForm" (submit)="onSubmit()" novalidate>
    <fieldset>
      <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
        <div class="modal-body" *ngIf="isEditForm">
          <div formArrayName="inetAddresses">
            <button (click)="addInetAddress()" type="button">Add a IP Address</button>
            <div *ngFor="let inetAddress of getAddresses(hostForm); let i=index">
              <div [formGroupName]="i">
                <div class="form-group">
                  <input placeholder="127.0.0.1" formControlName="inetAddress" class="form-control dynamicTextInput modal-form-control">
                  <button (click)="removeInetAddress(i)" class="btn btn-default remove-element-button modal-form-control">Remove</button>
                  <p class="help-block"  *ngIf="formErrors.inetAddresses">{{formErrors.inetAddresses}}</p>
               </div>
            </div>
          </div>
        </div>
        <span class="clear"></span>

        <p-footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="submit" class="btn btn-primary" [disabled]="hostForm.invalid">Submit</button>
            <button id='host-create-cancel' type="button" (click)="cancelDialog()" class="btn btn-default">Cancel</button>
          </div>
        </p-footer>
      </div>
      <div class="modal-body" *ngIf="!isEditForm">
        <h1>HOST CREATE NOT IMPLEMENTED</h1>
      </div>
    </fieldset>
  </form>
</p-dialog>
