.sidebar {
    z-index: 1;
    position: absolute;
    width: 230px;
}

.nav {
    border-bottom: 1px solid #eee;
    padding-right: 10px;
}

.hamburger {
    float: left;
    height: 50px;
    padding-top: 20px;
    padding-left: 15px;
    color: #2597b3;
}