<p-dialog [(visible)]="showDialog" modal="modal" width="500" [responsive]="true" [closable]="false" [resizable]="false">
  <p-header>
    <button id="buttonCloseX" tooltip="Close" type="button" class="close" (click)="onCloseClicked()" aria-hidden="true">&times;</button>
    <h3 id="domain-status-header" class="modal-title wordBreak">Domain Status</h3>
  </p-header>
  <h3 id="domainName">{{domainName}}</h3>
  <div id="domainInfoLoading" class="text-align-center" *ngIf="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
  </div>
  <form [formGroup]="domainStatusForm" (submit)="onSubmit()" novalidate *ngIf="!loading">
    <div class="alert alert-danger" *ngIf="error" role="alert">{{error}}</div>
      <div class="col-md-6">
        <fieldset [disabled]="!canUpdateClientStatus">
          <p>Client-side</p>
          <div class="form-group">
            <input id="clientprohibited" type="checkbox" formControlName="clientDeleteProhibited"/>
            <label for="clientprohibited">Delete Prohibited</label><br>
            <input id="clienthold" type="checkbox" formControlName="clientHold"/>
            <label for="clienthold">Hold</label><br>
            <input id="clientrenew" type="checkbox" formControlName="clientRenewProhibited"/>
            <label for="clientrenew">Renew Prohibited</label><br>
            <input id="clienttransfer" type="checkbox" formControlName="clientTransferProhibited"/>
            <label for="clienttransfer">Transfer Prohibited</label><br>
            <input id="clientupdate" type="checkbox" formControlName="clientUpdateProhibited"/>
            <label for="clientupdate">Update Prohibited</label><br>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset [disabled]="!canUpdateServerStatus">
          <p>Server-side</p>
          <div class="form-group">
            <input id="prohibited" type="checkbox" formControlName="serverDeleteProhibited"/>
            <label for="prohibited">Delete Prohibited</label><br>
            <input id="hold" type="checkbox" formControlName="serverHold"/>
            <label for="hold">Hold</label><br>
            <input id="renew" type="checkbox" formControlName="serverRenewProhibited"/>
            <label for="renew">Renew Prohibited</label><br>
            <input id="transfer" type="checkbox" formControlName="serverTransferProhibited"/>
            <label for="transfer">Transfer Prohibited</label><br>
            <input id="update" type="checkbox" formControlName="serverUpdateProhibited"/>
            <label for="update">Update Prohibited</label><br>
          </div>
        </fieldset>
      </div>
  </form>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" class="btn btn-primary" id="domainStatusSubmit" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default" id="domainStatusClose" (click)="onCloseClicked()">Cancel</button>
    </div>
  </p-footer>
</p-dialog>
