<p-dialog [(visible)]="showDialog" width="500" responsive="true" [closable]="false">
  <p-header>
    <button id="buttonCloseX" tooltip="Close" type="button" class="close" (click)="onCloseClicked()" aria-hidden="true">&times;</button>
   <h3 id="domain-status-header" class="modal-title wordBreak">Domain Status</h3>
  </p-header>
    <label id="domainName">{{domainName}}</label>
        <form [formGroup]="domainStatusForm" (submit)="onSubmit()" novalidate>
          <div class="panel panel-default">
            <div class="col-md-6">
              <br>
                <div class="form-group">
                  <input id="prohibited" type="checkbox" formControlName="serverDeleteProhibited"/>
                  <label for="prohibited">Server Delete Prohibited</label><br>
                  <input id="hold" type="checkbox" formControlName="serverHold"/>
                  <label for="hold">Server Hold</label><br>
                  <input id="renew" type="checkbox" formControlName="serverRenewProhibited"/>
                  <label for="renew">Server Renew Prohibited</label><br>
                  <input id="transfer" type="checkbox" formControlName="serverTransferProhibited"/>
                  <label for="transfer">Server Transfer Prohibited</label><br>
                  <input id="update" type="checkbox" formControlName="serverUpdateProhibited"/>
                  <label for="update">Server Update Prohibited</label><br>
                </div>
            </div>
            <div class="col-md-6 center-line">
              <br>
              <div class="form-group">
                <input id="clientprohibited" type="checkbox" formControlName="clientDeleteProhibited"/>
                <label for="clientprohibited">Client Delete Prohibited</label><br>
                <input id="clienthold" type="checkbox" formControlName="clientHold"/>
                <label for="clienthold">Client Hold</label><br>
                <input id="clientrenew" type="checkbox" formControlName="clientRenewProhibited"/>
                <label for="clientrenew">Client Renew Prohibited</label><br>
                <input id="clienttransfer" type="checkbox" formControlName="clientTransferProhibited"/>
                <label for="clienttransfer">Client Transfer Prohibited</label><br>
                <input id="clientupdate" type="checkbox" formControlName="clientUpdateProhibited"/>
                <label for="clientupdate">Client Update Prohibited</label><br>
              </div>
            </div>
          </div>
        </form>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" class="btn btn-default" id="domainStatusSubmit" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default" id="domainStatusClose" (click)="onCloseClicked()">Close</button>
    </div>
  </p-footer>
</p-dialog>
