<h4 id="domainRegistrar" class="modalSectionHeader" *ngIf="registrar">{{registrar.registrarName}}</h4>
<div *ngIf="error" class="alert alert-danger" role="alert" id="domainInfoStatusError">{{error}}</div>
<ul class="webconsole-ul noPaddingElement">
  <!--
  TODO:
  need to use both user permissions and item status to set these items
  style="margin-top:3px"
  -->
  <li>
    <!-- TODO: wire these up to permissions -->
    <span class="left fa-stack statusIcons" *ngIf="checkStatus(['ok', 'inactive'])">
      <i id="domainStatusIconOK" *ngIf="checkStatus(['ok'])" class="fa fa-smile-o fa-2x" pTooltip="Domain Status: OK"></i>
      <i id="domainStatusIconInactive" *ngIf="checkStatus(['inactive'])" class="fa fa-meh-o fa-2x" pTooltip="Domain Status: Inactive"></i>
    </span>
    <span id="domainStatusTransfer" class="left fa-stack statusIcons iconAdjust" pTooltip="{{getTransferTooltipMessage()}}">
      <i (click)="openDomainTransferDialog()" id="domainStatusIconTransfer" class="fa fa-exchange fa-2x"
        [ngClass]="{'icon-disabled': checkStatus(['clientTransferProhibited'])}"></i>
    </span>
    <span id="domainStatusRenew" class="left fa-stack statusIcons" pTooltip="{{getRenewTooltipMessage()}}">
      <i (click)="openDomainRenewDialog()" id="domainStatusIconRenew" class="fa fa-calendar fa-2x"
         [ngClass]="{'icon-disabled' : !canRenew}"></i>
    </span>
    <span id="domainStatusRestore" class="left fa-stack statusIcons" pTooltip="{{getRestoreTooltipMessage()}}">
      <i (click)="openDomainRestoreDialog()" id="domainStatusIconRestore" class="fa fa-unlock fa-2x"></i>
    </span>
    <span id="domainStatusDelete" class="left fa-stack statusIcons" pTooltip="{{getDeleteTooltipMessage()}}">
      <i (click)="openDomainDeleteDialog()" id="domainStatusIconDelete" class="fa fa-trash fa-2x"
         [ngClass]="{'icon-disabled' : checkStatus(['clientDeleteProhibited'])}"></i>
    </span>
    <span id="domainStatusServerStatus" class="left fa-stack statusIcons" pTooltip="{{getStatusTooltipMessage()}}">
      <i (click)="openDomainServerStatusDialog()" id="domainStatusIconServerStatus" class="fa fa-check-square-o fa-2x"
         [ngClass]="{'icon-disabled' : checkStatus(['serverUpdateProhibited'])}"></i>
    </span>
  </li>
</ul>
<router-outlet></router-outlet>
