<h1 class="page-header">Manage TLDs</h1>
<p-dataTable #dt [value]="tlds" selectionMode="single" [(selection)]="selectedTld"  (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="35" [responsive]="true" exportFilename="Tlds" sortMode="multiple" id="tldsTable">
   <p-header>
     <div class="ui-helper-clearfix">
       <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" lavel="CSV" class="left"></button>
       <button type="button" pButton icon="fa-plus" class="ui-button-success right" (click)="showDialogToAdd()" label="Create new TLD"></button>
     </div>
   </p-header>
   <p-column id="name" field="name" header="TLD" [sortable]="true"></p-column>
   <p-column id="state" field="state" header="State" [sortable]="true"></p-column>
   <p-column id="delegationDate" field="delegationDate" header="Delegation Date" [sortable]="true"></p-column>
   <p-column id="createBillingCost" field="createBillingCost" header="Create" [sortable]="true">
     <template let-col let-tld="rowData" pTemplate="body">
       <span class="right">{{tld[col.field].value | currency:'USD':true:'1.2-2'}}</span>
     </template>
   </p-column>
   <p-column id="restoreBillingCost" field="restoreBillingCost" header="Restore" [sortable]="true">
     <template let-col let-tld="rowData" pTemplate="body">
       <span class="right">{{tld[col.field].value | currency:'USD':true:'1.2-2'}}</span>
     </template>
   </p-column>
   <p-column styleClass="col-button">
        <template pTemplate="header">
            Action
        </template>
        <template let-tld="rowData" pTemplate="body">
          <span tooltip="View Phases">
          <button type="button" tooltip="View Phases" (click)="showTransitions(tld)" pButton icon="fa-list"></button>
          </span>
        </template>
  </p-column>
</p-dataTable>

 <p-dialog header="TLD Details: {{tld.name}}" [(visible)]="displayDialog" [responsive]="true" [width]="600" showEffect="fade" [modal]="true" [closable]="false">
  <p class="error" *ngIf="error"><i class="fa fa-error"></i> {{error}}</p>
  <form name="tldsForm" (ngSubmit)="save()">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="form-group" *ngIf="createTld">
        <label>TLD Name*:</label>
        <input id="tld-state" type="text" name="name" placeholder="NEW" required class="form-control" [(ngModel)]="tld.name"/>
      </div>
      <div class="form-group" *ngIf="!createTld">
        <label>State:</label>
        <input id="tld-state" type="text" name="state" class="form-control" [(ngModel)]="tld.state"/>
      </div>
      <div class="form-group">
          <label>Create*:</label>
          <div class="input-group">
          <span class="input-group-addon">USD</span>
          <input class="form-control" name="createBillingCost" type="number" id="createBillingCost" required placeholder="1.00" [(ngModel)]="createBillingCost" min="0" max="100000000" step="0.01"/>
        </div>
       </div>
        <div class="form-group">
          <label>Restore*:</label>
          <div class="input-group">
          <span class="input-group-addon">USD</span>
          <input class="form-control" name="restoreBillingCost" type="number" id="restoreBillingCost" required placeholder="1.00" [(ngModel)]="restoreBillingCost" min="0" max="100000000" step="0.01"/>
        </div>
       </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="submit" pButton icon="fa-check" label="Save"></button>
            <button type="button" pButton (click)="cancelDialog()" label="Cancel" class="ui-button-secondary"></button>
        </div>
    </p-footer>
</form>
</p-dialog>

<p-dialog header="TLD Transition State: {{tld.name}}" [(visible)]="displayTransitionsDialog" [responsive]="true" [width]="600" showEffect="fade" [modal]="true">
  <p class="error" *ngIf="error"><i class="fa fa-error"></i> {{error}}</p>
  <table class="table table-striped">
    <th>State</th>
    <th>Start Date</th>
    <tr *ngFor="let tr of stateTransitions">
      <td>{{tr.value}}</td>
      <td>{{tr.key | date:"yyyy-MM-dd HH:mm:ss"}} UTC</td>
    </tr>
  </table>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton label="Close" (click)="cancelDialog()" class="ui-button-secondary"></button>
    </div>
  </p-footer>
</p-dialog>
