<span role="button" class="hamburger" (click)="toggle()"><i class="fa fa-bars fa-lg"></i></span>
<a class="navbar-brand" routerLink="/"><img id="donuts-logo" src="/assets/images/donuts-logo.png"/></a>
<a class="navbar-brand registry-header-text" routerLink="/">Portal</a>
<div class="navbar-search">
    <app-search-bar></app-search-bar>
</div>
<label class="registrarName" *ngIf="user">
    {{user.clientId}} ({{user.ianaId}})
</label>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<div class="navbar-default sidebar" role="navigation" *ngIf="isActive">
    <ul class="nav" id="side-menu">
        <ul class="nav" *ngIf="showNavItem('CRU_REGISTRY_ADMIN')">
            <li *ngIf="showNavItem('CRU_REGISTRY_ADMIN')">
                <a routerLink="/premiumlists" id="premiumlists" routerLinkActive="active" (click)="toggle()"><i class="fa fa-cloud-download fa-fw"></i>&nbsp; Premium Lists</a>
            </li>
            <li *ngIf="showNavItem('CRU_REGISTRY_ADMIN')">
                <a routerLink="/reserveddomains" id="reserveddomains" routerLinkActive="active" (click)="toggle()"><i class="fa fa-cloud-download fa-fw"></i>Reserved Domains</a>
            </li>
        </ul>
        <ul class="nav" *ngIf="showNavItem('CRU_REGISTRAR_USER')">
            <li *ngIf="showNavItem('CRU_TLD')">
                <a routerLink="/tlds" id="tlds" routerLinkActive="active" (click)="toggle()"><i class="fa fa-gear fa-fw"></i>TLDs</a>
            </li>
            <li *ngIf="showNavItem('CRU_REGISTRAR_USER')">
                <a routerLink="/users" id="users" routerLinkActive="active" (click)="toggle()"><i class="fa fa-users fa-fw"></i>Users</a>
            </li>
            <li *ngIf="showNavItem('CRU_PRICE_CATEGORIES')">
                <a routerLink="/pricecategories" id="pricecategories" routerLinkActive="active" (click)="toggle()"><i class="fa fa-dollar fa-fw"></i>Price Categories</a>
            </li>
        </ul>
        <ul class="nav" *ngIf="showNavItem('SERVER_SIDE_STATUS')">
            <li *ngIf="showNavItem('CRU_REGISTRAR_USER')">
                <a routerLink="/icann/icanntld" id="icanntld" routerLinkActive="active" (click)="toggle()"><i class="fa fa-cubes fa-fw"></i>TLD Report Counters</a>
            </li>
            <li *ngIf="showNavItem('CRU_REGISTRAR_USER')">
                <a routerLink="/icann/icannregistrar" id="icannregistrar" routerLinkActive="active" (click)="toggle()"><i class="fa fa-group fa-fw"></i>Registrars Report Counters</a>
            </li>
            <li *ngIf="showNavItem('CRU_REGISTRAR_USER')">
                <a routerLink="/icann/icanndns" id="icanndns" routerLinkActive="active" (click)="toggle()"><i class="fa fa-globe fa-fw"></i>DNS Report Counters</a>
            </li>
        </ul>
    </ul>
</div>
