<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-md-6">Lorem ipsum dolor sit amet<br/><img src="/assets/images/pie_chart.png"></div>
    <div class="col-md-6">Consectetur adipiscing elit<br/><img src="/assets/images/bar_chart.png"></div>
  </div>
  <div class="row">
    <div class="col-md-6">Donec iaculis luctus fermentum<br/><img src="/assets/images/combo_chart.png"></div>
    <div class="col-md-6">Praesent vel sagittis eros<br/><img src="/assets/images/column_chart.png"></div>
  </div>
</div>
