<p-dialog visible="true" modal="modal" width="300" responsive="true" [(closable)]="closable" header="Create New TLD">
  <form  #tldForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label>TLD Name*:</label>
        <input id="tld-name" type="text" autofocus placeholder="Name" class="form-control" [(ngModel)]="tld.name"
               minlength="2" maxlength="63" name="name" required/>
      </div>
      <div class="form-group">
        <label>Create*:</label>
        <div class="input-group">
          <span class="input-group-addon">USD</span>
          <input id="tld-create-price" type="number" class="form-control" placeholder="1.00" required
                 [(ngModel)]="tld.createBillingCost" min="1" max="100000000" step="0.01" name="createBillingCost"/>
        </div>
      </div>
      <div class="form-group">
        <label>Restore*:</label>
        <div class="input-group">
          <span class="input-group-addon">USD</span>
          <input id="tld-restore-price" type="number" class="form-control" placeholder="1.00" required
                 [(ngModel)]="tld.restoreBillingCost" min="1" max="100000000" step="0.01" name="restoreBillingCost"/>
        </div>
      </div>
    </div>
    <p-footer id="tld-create-footer">
      <button type="button" class="btn btn-default"  (click)="onCancel()" >Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </p-footer>
  </form>
</p-dialog>
