<div id="page-wrapper">
  <form name="icannRegistrarForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">ICANN Registrar Counters</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <p class="has-error" *ngIf="errorMessage">{{errorMessage}}</p>
    <!-- END ERROR -->
    <div class="panel-body" >
      <div class="form-group left modal-form-group count modal-300">
        <label for="tld">TLD*:</label>
        <select [(ngModel)]="icannRegistrar.tld" name="tld" id="tld" class="form-control" required><option  *ngFor="let tld of allTlds">{{tld.name}}</option></select>
      </div>
      <div class="form-group left modal-form-group count">
        <label for="month">Month*:</label>
        <select type="string" [(ngModel)]="icannRegistrar.month" name="month" id="month" class="form-control" required>
          <option value=''>--Select Month--</option>
          <option selected value='1'>Janaury</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
      <div class="form-group left modal-form-group count">
        <label for="year">Year*:</label>
        <select type="string" [(ngModel)]="icannRegistrar.year" name="year" id="year" class="form-control" required>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
      <span class="clear"></span>
      <div class="form-group left modal-form-group count">
        <label for="rampUpCount">Ramp Up Registrars*:</label>
        <input type="number" *ngIf="icannRegistrar" [(ngModel)]="icannRegistrar.rampUpRegistrarsCount" name="rampUpCount" id="rampUpCount" class="form-control" required/>
      </div>
      <div class="form-group left modal-form-group count">
        <label for="preRampUpCount">Pre-Ramp Up Registrars*:</label>
        <input type="number" *ngIf="icannRegistrar" [(ngModel)]="icannRegistrar.preRampUpRegistrarsCount" name="preRampUpCount" id="preRampUpCount" class="form-control" required/>
      </div>
      <div class="form-group left modal-form-group count">
        <label for="zfaPasswordsCount">Zone File Access Passwords*:</label>
        <input type="number" *ngIf="icannRegistrar" [(ngModel)]="icannRegistrar.zfaPasswordsCount" name="zfaPasswordsCount" id="zfaPasswordsCount" class="form-control" required/>
      </div>
    </div>
    <div class="modal-footer" data-ng-show="ctrl.showform">
      <button class="modal-footer" type="submit" class="btn btn-primary right">Submit</button>
      <button type="button" class="btn btn-default right" id="cancelBtn" (click)="onCancel()" >Cancel</button>
    </div>
  </form>
</div>
