<span id="update-domain-hosts-link" class="right statusIcons marginTop10" tooltip="Edit Domain Nameservers" (click)="openEditHostsDialog()">
  <i class="fa fa-pencil-square-o fa-2x"></i>
</span>
<span class="right statusIcons marginTop10" tooltip="Copy Nameserver Info">
  <i class="fa fa-clipboard fa-2x"></i>
</span>
<h4 class="modalSectionHeader">Delegation</h4>
<span class="clear"></span>
<app-display-list [listItems]="domain.nameservers" (onListItemClicked)="onEditHost($event)" (onMoreListItemsClicked)="onShowAllNameservers($event)"></app-display-list>
