/* You can add global styles to this file, and also import other style files */
/*
 * admin and whois specific CSS
 */

.left{
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.wordBreak {
  word-wrap: break-word;
}

.domain-status-items {
  margin-left: 20px;
}

.bold {
  font-weight: bold;
}

.iconAdjust {
  margin-top: 3px;
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop20 {
  margin-top: 20px;
}

.webconsole-ul {
  list-style-type: none;
  padding-left: 15px;
}

.webconsole-ul-no-left-pad {
  padding-left: 0;
}

.domainDataCell {
  width:60%;
}

.formElementTogglerDiv {
  margin-bottom: 5px;
}

#donuts-logo {
  height: 25px;
  display: inline;
}

#user-image {
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}

.dropdown-text {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.registry-header-text {
  line-height:28px;
  padding-left:5px;
  margin-left:-5px;
  font-size:23px;
}

#whois-results {
  margin-top: 10px;
  background-color: #fff;
}

#whois-loading {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0;
}

span.clear{
  background:none;
  border:0;
  clear:both;
  display:block;
  float:none;
  font-size:0;
  margin:0;
  padding:0;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height: 0;
}

.form-control-eighty-percent-width {
  width:80% !important;
}

.dynamicTextInput {
  width:75% !important;
  float:left;
  margin-bottom:10px;
}

#customizeContactIDButton {
  margin-top:5px;
  line-height:10px;
  font-size: 10px;
}

.last-form-element, .navbar {
  margin-bottom: 0;
}

.remove-element-button, .new-contact-button {
  float:left;
  margin-left:10px;
}

.text-align-center {
  text-align: center;
}

span.has-error, p.has-error {
  color: #a94442;
}
.statusProhibited {
  cursor:default;
  color: #a94442;
}
.unpadded-list {
  padding-left: 0;
}

.button-edit {
  background-color: #c68c53;
}

.button-edit:hover, .button-edit:focus {
  background-color: #995c00;
}

.actionsButtons {
  margin-right: 10px;
}

.dropdown-toggle, .navbar-brand, .linkElement, .columnSorter {
  cursor: pointer;
}

.spanLink {
  cursor: pointer;
  color: #337ab7;
}

.spanLink:hover {
  text-decoration: underline;
}

.registrarName {
  padding: 15px;
  font-weight: bold;
}

.loginRow {
  margin-top: 50px;
}

.loginContainer {
  margin: 0 auto;
  width: 332px;
}

.contentNoH1 {
  margin-top:18px;
}

.buttonSeparator {
  margin-left: 15px;
}

.domainExpirationHeader {
  float: right;
  margin-right:10px;
  font-size:12px;
  line-height:24px;
  margin-top:8px;
}

.noPaddingElement {
  padding: 0;
}

.noMarginElement {
  margin: 0 !important;
}

h5.modalSectionHeader {
  margin-top: 15px;
  margin-bottom: 5px;
}

.modalSectionSeparator {
  border-color:#ccc;
  margin-bottom:0;
  margin-top:10px;
}

.statusIcons {
  margin-right:8px;
  cursor: pointer;
}

.statusIconHidden{
  width:auto !important;
}

#domainStatusIconOK, #domainStatusIconInactive {
  cursor: default;
}

.domainContactInput {
  width: 35%;
}

#searchHelpGuide {
  width:620px;
  position:absolute;
  margin-top:35px;
  padding:10px;
  border:1px solid #000;
  background-color:#fff;
  z-index:100;
}

/*
 * also gets the user menu on the top right,
 * create a different style for that. Maybe just text underline
 */
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:active, .activeMenuItem {
  background-color: #c0c0c0;
  color: #000;
}

/*
 * bootstrap overrides
 */
.modal-form-control {
  height: 24px;
  padding: 3px 12px;
}

label.modal-label, .modal-input-group, .modal-text, .modal-form-control {
  font-size: 14px;
}

.modal-form-group {
  margin-bottom: 5px;
}

.modal-contact-odd-row {
  background-color:#f9f9f9;
  border:1px solid #ddd;
  padding:5px;
}

.modal-contact-label {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.modal-body-padding {
  padding: 5px 15px;
}

.modal-300 {
  width: 300px;
}

.modal-450 {
  width: 450px;
}

.modal-600 {
  width: 600px;
}

.modal-dialog {
  margin-top: 60px;
}

.count {
  margin-right: 20px;
}

.text-right {
  text-align: right
}

/*
 * mobile first
 */
@media only screen {
  fieldset {
    margin-top: 10px;
    padding: .35em .625em .75em;
    border: 1px solid #c0c0c0;
  }
  #whoisdomain {
    clear: both;
    margin-bottom: 10px;
    width: 95%;
  }
  #whois-submit {
    float:left;
    margin-left: 0;
  }
  .showOnlyInDesktop, .hiddenInMobile {
    display: none;
  }
  .navbar-search {
    float: left;
    margin-top:15px;
    padding-left:60px;
    width:800px;
  }
  .navbar-search div.input-group {
    width: 100%;
  }
  .navbar-header::after {
    clear:none;
  }
  #searchTermInput {
    width: 65%;
  }
  .navbar-top-links li a {
    padding: 15px 5px;
  }
}
/*
 * tablet
 */
@media only screen and (min-width: 40.0625em) {
  .registrar-name {
    margin-top: 7px;
  }
  #whoisdomain {
    clear: none;
    width: 75%;
    margin-bottom: 0;
  }
  #whois-submit {
    margin-left: 10px;
  }
  .navbar-search {
    float: left;
    margin-top:7px;
    width:205px;
  }
  .navbar-search div.input-group {
    width: 100%;
  }
  .navbar-header::after {
    clear:none;
  }
  .showOnlyInDesktop {
    /*display: inline;*/
    color: green;
  }
  .hiddenInMobile {
    display: inline;
  }
  #searchTermInput {
    width: 80%;
  }
  .navbar-top-links li a {
    padding: 15px;
  }
}

@media only screen and (min-width : 992px) {
  .showOnlyInDesktop {
    display: inline;
    /*color: red;*/
  }
}

/*
 * desktop
 */
@media only screen and (min-width: 64.0625em) {
  .navbar-search {
    float: left;
    margin-top:15px;
    width:800px;
  }
  .navbar-search div.input-group {
    width: 100%;
  }
  .showOnlyInDesktop {
    display: inline;
  }
}

.error-page {
  margin-top: 80px;
  margin-bottom: 40px;
}

.error-page .error-status {
  font-size: 150px;
}

.error-page .error-description {
  font-size: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: indianred;
}

.col-button {
  width: 60px;
  text-align: center;
}
