<div class="panel-body">
  <div *ngIf="error" class="alert alert-danger" id="searchError">{{error}}</div>
</div>
<app-domain *ngIf="domainResult" [domains]="domainResult"></app-domain>
<app-contact *ngIf="contactResult" [contacts]="contactResult"></app-contact>
<app-host *ngIf="hostResult" [hosts]="hostResult"></app-host>
<app-premium-name *ngIf="premiumNameResults" [premiumNames]="premiumNameResults"></app-premium-name>
<app-reserved-name *ngIf="reservedNameResults" [reservedNames]="reservedNameResults"></app-reserved-name>
<router-outlet></router-outlet>
